[submodule "ros2_ws/src/limo_ros2"]
	path = ros2_ws/src/limo_ros2
	url = git@github.com:takuyaN231/limo_pro_ros2.git
[submodule "ros2_ws/src/ros2_astra_camera"]
	path = ros2_ws/src/ros2_astra_camera
	url = https://github.com/orbbec/ros2_astra_camera.git
