# ==============================
# ROS2 workspace
# ==============================
 
build/
install/
log/
 
# ==============================
# Python
# ==============================
 
__pycache__/
*.pyc
*.pyo
*.pyd
 
# ==============================
# Editor / IDE
# ==============================
 
.vscode/
 
# ==============================
# System files
# ==============================
 
.DS_Store
*~
 
