[submodule "ros2_ws/src/limo_ros2"]
	path = ros2_ws/src/limo_ros2
	url = https://github.com/takuyaN231/limo_pro_ros2.git
[submodule "ros2_ws/src/orbbec_camera_v1"]
	path = ros2_ws/src/orbbec_camera_v1
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
	branch = main
